<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head>
    <title>Common Services - Messaging : EMail Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" type="image/png" href="/image/pulsethoughtLogo_small.png"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/layout.css}"/>
    <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <a class="navbar-brand" href="#">
        <img src="image/pulsethoughtLogo_small.png" class="rounded-circle" alt="PulseThought" style="height:40px;">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/static' ? 'active':''}">
                <a class="nav-link" th:href="@{/static}">Static Page</a>
            </li>
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/userInfo' ? 'active':''}">
                <a class="nav-link" th:href="@{/userInfo}">User Info</a>
            </li>
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/admin' ? 'active':''}">
                <a class="nav-link" th:href="@{/admin}">Admin</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">
                    Logout <span th:utext="${#request.userPrincipal.name}"></span>
                </a>
                <a class="nav-link" th:unless="${#request.userPrincipal != null}" th:href="@{/login}">Sign In</a>
            </li>
        </ul>
    </div>

</nav>

<div class="container">
    <div layout:fragment="content"></div>
    <footer class="container-fluid">
        <nav class="navbar navbar-expand-sm bg-secondary navbar-dark fixed-bottom justify-content-center">
            <span class="text-center">
                &copy; PulseThought 2018. All rights reserved.
            </span>
        </nav>
    </footer>
</div>

</body>
</html>